{% extends 'base.html' %} {% block pagetitle %} Contact Us {% endblock pagetitle %} {% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To Help.
        </p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Shoheb</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Shoheb. Currently Pursuing Bachelors in AI Technology.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:shohebakthar440@gmail.com'><img src="https://tse1.mm.bing.net/th?id=OIP.IpB5yPUkCFHOzlmM-O7ncAHaFW&pid=Api&P=0&h=180" height="40" width="40"></a> : shohebakthar440@gmail.com

            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Venkat</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Venkat. Currently Pursuing Bachelors in AI Technology.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:venkat@gmail.com'><img src="https://tse1.mm.bing.net/th?id=OIP.IpB5yPUkCFHOzlmM-O7ncAHaFW&pid=Api&P=0&h=180" height="40" width="40"></a> : venkat@gmail.com
            </div>
        </div>
    </div>
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>samhith</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am samhith. Currently Pursuing Bachelors in AI Technology.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:samhith@gmail.com'><img src="https://tse1.mm.bing.net/th?id=OIP.IpB5yPUkCFHOzlmM-O7ncAHaFW&pid=Api&P=0&h=180" height="40" width="40"></a> : samhith@gmail.com
            </div>
        </div>
    </div>
</div>

{% endblock body %}